.playersArea img{
    width:80%;
    height:100px;
}
.playersArea{
    display:grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin-top: 10px;
}
/* .playersArea div button{
    width:90px;
    height:30px;
    background-color:chocolate;
    color:azure;
    font-weight: 700;
} */
.btn{
    width:90px;
    height:30px;
    background-color:chocolate;
    color:azure;
    font-weight: 700;
}
