.bodyArea{
    display: flex;
}
.playersArea{
    width:70%;
    margin-left: 10px;
        
}
.teamArea div{
    position:fixed;
    margin-left: 10px;
}
.teamArea{
    border-left: 1px solid gray;
}